@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');



body{

    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(135deg, rgba(12,6,29,1) 14%, rgba(35,8,113,1) 52%, rgba(68,7,83,1) );
    background-attachment: fixed; 
    color: #fff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}

main{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

#carouselExampleIndicators{
    width: 100vw ;
    height: 100vh;
}

.carousel-inner{
    width: 100vw;
    height: 100vh;
}

 

.container{
    width: 100vw;
    padding: 0;
    margin-left: 0;
    margin-right: 0;

    
}

#conteinerDestaque{
    width: 100vw;
    height: 30vh;

    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 20%;

}

#destaque{
    padding: 0px;
    width: 50%;
    height: 150%;   
}

#destaque > a{
  width: 100%;
  height: 100%;   
}

#destaque > a > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}



#descricao{
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 90vh;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#descricao p {
  margin-top: 10%;
}

a.btnDesc {
  text-decoration: none;
  color: #fff;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnDesc{
    background: linear-gradient(273.41deg, #4A14E4 0%, #900AB1 100%);
    border-radius: 5px;
    color:#fff;
    border-style: none;
    width: 10vw;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.144);
    margin: 10%;
    
    
}

footer{
    margin-top: 30px;
    padding: 5%;
    width: 100vw;
    background-color: rgb(31, 28, 28);
}

#conteinerfooter{
    display: flex;
    justify-content: space-around;
    width: 100%;
}


h2{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    
}


li{
    list-style-type: none;
    
}





button{
    background: none;
    border: none;
    font-family: inherit;
    cursor: pointer;
}



.movie-slider{
  position: relative;
  width: 100vw;
   
}

.movie-slider::before{
    content: '';
    height: 98.3%;
    width: 100px;
    display: block;
    background: linear-gradient(to right, black, transparent);
    position: absolute;
    left: 0;
    z-index: 1;
    margin-top: 0;
}

.movie-slider::after{
    content: '';
    height: 98.3%;
    width: 120px;
    display: block;
    background: linear-gradient(to left, black, transparent);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    margin-top: 0;
    
}

.movie-list{
    margin: 20px 0;
    width: 100vw;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}

.movie-list::-webkit-scrollbar {
    width: 15px;
    height: 10px;
}
   
.movie-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
.movie-list::-webkit-scrollbar-thumb {
    background-color: rgb(61, 61, 61);
    outline: 1px solid slategrey;
    border-radius: 50px;
}

.movie-card{
    background-color: white;
    border-radius: 10px;
    width: 68vw !important;
    height: 59vh !important;
    box-shadow: 0px 5px 10px rgb(17, 17, 17);
    cursor: pointer;
    margin: 20px 10px;
    position: relative;
    transition: all 1s;
    
}

.movie-card img{
  width: 15vw !important;
  height: 37vh!important;
}


.movie-card:hover{
    box-shadow: 0px 10px 20px #000000;
    transform:  scale(1.08);
    
}

.movie-poster{
    border-radius: 10px 10px 0px 0px;
}

.movie-info{
    padding: 15px 10px;
}



.movie-title{
    font-size: 26px;
    letter-spacing: -1px;
    margin-bottom: 20%;
    color: #000000;
   
}

.btn-watch{
    font-size:20px ;
    background: linear-gradient(273.41deg, #4A14E4 0%, #900AB1 100%);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.26);
    padding: 5px 20px;
    border-radius: 50px;
    border: 3px solid transparent;
    color: white;
    width: 13vw;
    height: 8vh;
    position: absolute;
    bottom: 0;
    margin: auto;
    margin-bottom: 3%;
}  




@media screen and (max-width: 300px){
  #carouselExampleIndicators{
    width: 100vw !important;
    height: 35% !important;
    margin: auto;
  }

  #conteinerDestaque{
    flex-direction: column;
    margin-left: 0 !important;    
  }
  #destaque{
    width: 50px !important;
    padding: 10px ;
  }

  #destaque  img{
    width: 90vw !important;
  }

  .movie-slider::before{
    width: 10vw;
    height: 67.5vh !important;
  }

  .movie-slider::after{
    right: -2px !important;
    width: 10vw !important;
    height: 67.5vh !important;
    margin-right: 0 !important;
  }

  .movie-card{
    width: 50vw !important;
    height: 75vh !important;
    border-radius: 10px;
    margin: 15px !important;

  }

  .movie-title{
    font-size: 25px;
    margin-bottom: 20px;
  }

}

@media screen and (max-width: 400px){
  #carouselExampleIndicators{
    width: 100vw !important;
    height: 35% !important;
    margin: auto;
  }

  #conteinerDestaque{
    width: 80vw;
    margin-left : 10px;
    flex-direction: column;
       
  }
  #destaque{
    width: 50px !important;
    padding: 10px ;
  }

  #destaque  img{
    width: 80vw !important;
    margin-left: 0;
    
  }

  .movie-slider::before{
    width: 10vw;
    height: 67.5vh !important;
  }

  .movie-slider::after{
    right: -2px !important;
    width: 10vw !important;
    height: 67.5vh !important;
    margin-right: 0 !important;
  }

  .movie-card{
    width: 66vw !important;
    height: 65vh !important;
    border-radius: 10px;
    margin: 15px !important;

  }

  .movie-title{
    font-size: 20px !important;
    margin-bottom: 20px;
  }

  .btnDesc{
    width: 35vw;
    height: 5vh;
    
  }

}

@media screen and (max-width: 700px){
 
  #carouselExampleIndicators{
    width: 100vw !important;
    height: 35% !important;
    margin: auto;
  }

  .movie-card{
    width: 58vw !important;
    border-radius: 10px;
    margin: 20px;

  }
  .movie-card img{
    width: 57vw !important;
    margin-bottom: 0;
    
  }
  .movie-slider::before{
    width: 10vw;
    height: 63vh;
  }
  .movie-slider::after{
    right: 5px;
    width: 10vw;
    height: 63vh;
  }

  .movie-list{
    margin-top: 0;
    width: 95vw;
    height: 70vh;
  }

  #destaque{
    padding: 0px;
    
  }
  #destaque img{
    width: 350px;
    
  }
  #conteinerDestaque{
    width: 90vw;
    flex-direction: column;
    margin-left: 25px;
  
  }


#descricao{
    width: 90vw;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 20px;

}

.btnDesc{
  width: 50vw !important;
  height: 5vh !important;
  
}

  h2{
    font-size: 30px;
    margin-bottom: 0;
  }

  h1{
    font-size: 10vh;
    margin-bottom: 0;
  }

  .btn-watch{
    margin-top:0;
    margin-left: 7.5px !important;
    margin-bottom: 20px;
    font-size: 17px;
    width:45vw;
  }

  .movie-title{
    font-size: 23px;
  }
  .conteiner{
    width: 100vw;
    height: 70vh;
  }

  #destaque{
    
    width: 50vw;
    padding: 10px;
  }

  #destaque > img{
    width: 30px;
  }
}


