*{
    margin: 0;
    padding: 0;
}
#capaFilme img{
    position: static;
    border-radius: 5%;
    height: 45vh;
    width: 21%;
    object-fit: cover;
    border: 2.5px solid #440753;
    margin-left: 6vw;
    margin-top: 25vh;
}
.container{
    position: absolute;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-family: 'Roboto';
}
#tituloFilme{
    position: relative;
    margin-left: 30vw;
    margin-top: -50vh;
    font-size: 2em;
}
#rating{
    margin-left: 36vw;
    margin-top: 3vh;
    font-size: 23px;
}
#sinopseTitulo{
    margin-left: 35vw;
    margin-top: 3vh;
    font-size: 23px;
}
#sinopseInfo{
    font-size: 15px;
    margin-left: 36vw;
    margin-top: 3vh;
    margin-right: 20vw;
}
.botao1{
    width: 16vw;
    height: 9vh;
    border-radius: 50px;
    position: absolute;
    background: linear-gradient(to top left, #900AB1, #4A14E4);
    margin-top: 85vh;
    margin-left: 35vw;

}
#botaoComprarTexto{
    position: absolute;
    font-family: roboto;
    color: white;
    text-decoration: none;
    padding: 8% 1% 1px 45%;
    font-size: 110%;
}
#iconeCarrinho{
    position: absolute;
    padding: 2% 10% 2% 10%;
}
.botao2{
    width: 16vw;
    height: 9vh;
    border-radius: 50px;
    position: absolute;
    background: linear-gradient(to top left, #900AB1, #4A14E4);
    margin-top: 85vh;
    margin-left: 55vw;
}
#botaoAlugarTexto{
    position: absolute;
    font-family: Roboto;
    color: white;
    text-decoration: none;
    padding: 8% 1% 1px 45%;
    font-size: 110%;
}
#iconeAlugar{
    position: absolute;
    padding: 0.3em 0px 1px 15px;
}
.background{
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    filter: brightness(25%);
    background-size: cover;
    object-fit: cover;
}
.contentTexto{
    margin-top: 10vh;
}

/*
flex-box
rem
em
%
vh vw
*/